<!--Footer-->
<div class="row">
    <div class="col-lg-12">
        <footer class="text-center footer">
            <i variant="info" class="fa" id="scrollBTN " title="Go to top">☝︎</i>
            <br>
            <br>
            <h4 class="footer"> &copy; Le Marché Français Corporation, 2020.</h4>
        </footer>
    </div>
</div>

<script>
    $('.fa').click(function () {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });

     let mybutton = document.getElementsByClassName("fa")[0];
        window.onscroll = function() {scrollFunction()};

        mybutton.style.display = "none";
    
        function scrollFunction() {
            if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 500) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
</script>