{{!-- NAV BAR --}}
<nav class="navbar navbar-expand-lg ">
    <a href="/"><img class="logo" src="/assets/images/logo.png" width="80px"></img></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span><img class="plus" src='../../assets/images/plus.svg' alt="plus sign" aria-hidden="true"></img></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link nav-item"  data-target=".navbar-collapse.show" href="/">HOME</a></li>
                    <li><a class="nav-link nav-item"  data-target=".navbar-collapse.show" href="/register">REGISTER</a></li>
                    <li><a class="nav-link nav-item"  data-target=".navbar-collapse.show" href="/marketplace">MARKETPLACE</a></li>
                    <li><a class="nav-link nav-item"  data-target=".navbar-collapse.show" id="cart">CART</a></li>
                    <li><a class="nav-link nav-item"  data-target=".navbar-collapse.show" href="/contact">CONTACT</a></li>
            </ul>
        </div>
</nav>


<script>
    // Takes current user id from local storage and adds it to the cart path to show the products that user added to cart.
    $('#cart').on('click', function () {
        var id = JSON.parse(localStorage.getItem('newuser')).results.id
        console.log("cart: " + id)
        window.location.href = "/cart/" + id
    })
</script>