<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cart</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Yesteryear&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
<br>
<br>

<h3 class="header">'s Shopping Cart</h3>

        <div class="row">
                    {{#each products}}
            <div class="col-lg-12">
                <div class="card-deck justify-content-lg-center">
                    <div class="card text-center">
                        <div class="card-body">
                            
                            <div class="card-title">{{this.dataValues.Product_name}}</div>
                            <div class="card-text">Price: ${{this.dataValues.Cost}} /each</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{!-- Card for Total --}}
        <br>
        <br>
        <br>
                <div class="row">   
            <div class="col-lg-12">
                    <div class="card bakery text-center">
                        <div class="card-body">
                            <div class="card-title title">Total</div>
                            <div class="card-text total">Your total is <h1 id="money">${{newTotal}}.</h1>
                                <p>Please pay when you come and pick your order up! Thank you!</p></div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <br>
    <br>
    <br>


<script>
        var currentCustomer = JSON.parse(localStorage.getItem('newuser'))
                console.log('this is current customer id', currentCustomer.results.id)

                currentName = currentCustomer.results.Whole_name
                $(".header").prepend(currentName)
                
    //ajax call to go get all the carts where id = localstarage custmer id from database
    // in the .then() of the ajax call loop and put each thing on the page
    $.ajax({
        url: "/cart" + "/" + currentCustomer.results.id,
        type: "GET",
    }).then(function() {
        console.log("im in the .then",)
        
    })
</script>

</body>
</html>