<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dessert</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Yesteryear&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
<br>
<br>
<h3 class="header">Dessert</h3>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-deck">
                    {{#each bakery}}
                    <div class="card bakery text-center">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.dataValues.Product_name}}</h5>
                            <p class="card-text">Price: ${{this.dataValues.Price}} /each</p>
                                <a href="#" class="btn btn-info">Add to Cart</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
<br>
<br>