<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Le Marché Français</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

{{!-- About Le Marche Francais --}}
<div class="container">
    <div class="row">
            <div class="col-lg-12 text-center">
<p class="message">Were going to tell you about our beautiful spot!</p>
        </div>
    </div>
</div>




<button class="startOrder">Start Your Order!</button>

<script>$('.startOrder').click(function(){
    window.location.href='/marketplace';
})</script>



</body>

</html>