<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Le Marché Français</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

    {{!-- About Le Marche Francais --}}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="francais text-center">Le Marché Français</h1>
                <br>
                <br>
                <div class="container" mt-4>
                    <div class="card card-text">
                        <div class="card-body home">
                            <div class="card-header">
                            <p class="message">Bonjour! Amidst the changes that have affected our lives in the past year
                                we understand that people are apprehensive of going out to the store to shop. Our
                                mission is to bring you locally sourced, organic, good-tasting food...And now, from the
                                comfort of your home. Register your name and email with us to shop our markets full of
                                fresh produce, wines, cheeses, meats and everything else you need then come by and grab your order for a "no contact" pick up.</p>
                            <p class="message">Welcome to "The French Market". Bon Appétit! </p>
                            <br>
                        </div>
                            <br>
                            <button class="startOrder btn-info addToCart text-center">Start Your Order!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script>$('.startOrder').click(function () {
            window.location.href = '/register';
        })</script>



</body>

</html>