<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Le Marché Français</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Yesteryear&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
{{!-- First row of CARDS --}}

    <div class="container">
        <h3 class="greeting">Welcome to Le Marché Français, </h3>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-deck">
                    <div class="card text-center category" name="bakery">
                        <img class="card-img-top" src="/assets/images/marketpics/bakery.jpeg" alt="Bakery">
                        <div class="card-body">
                            <h5 class="card-title">Boulangerie</h5>
                            <p class="card-text">Freshly baked breads, daily.</p>
                            <p class="card-text">Well talk about how dank our bakery is.</p>
                            <button class="category " name='Bakery'>Bakery</button>
                        </div>
                    </div>
                    <div class="card text-center category" name='cheese'>
                        <img class="card-img-top" src="/assets/images/marketpics/cheeseshop.jpg" alt="Cheese market">
                        <div class="card-body">
                            <h5 class="card-title">Fromagerie</h5>
                            <p class="card-text">Fine cheeses from all over the world.</p>
                        </div>
                    </div>
                    <div class="card text-center category" name='Dessert'>
                        <img class="card-img-top" src="/assets/images/marketpics/dessert.jpg" alt="Dessert market">
                        <div class="card-body">
                            <h5 class="card-title">Dessert</h5>
                            <p class="card-text">Sweet treats.</p>
                            
                        </div>
                    </div>
                    <div class="card text-center category" name='fish'>
                        <img class="card-img-top" src="/assets/images/marketpics/fish.jpeg" alt="Fish market">
                        <div class="card-body">
                            <h5 class="card-title">Poissonerie</h5>
                            <p class="card-text" name=>Fresh fish caught locally!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
{{!-- Second row of CARDS --}}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-deck">
                    <div class="card text-center category" name='General_Store'>
                        <img class="card-img-top" src="/assets/images/marketpics/generalstore.jpg" alt="General store">
                        <div class="card-body">
                            <h5 class="card-title">General Store</h5>
                            <p class="card-text">We've got your everyday neeeeds.</p>
                            
                        </div>
                    </div>
                    <div class="card text-center category" name='Meat'>
                        <img class="card-img-top" src="/assets/images/marketpics/butcher.jpg" alt="Butcher market">
                        <div class="card-body">
                            <h5 class="card-title">Boucherie</h5>
                            <p class="card-text">Grass fed, prime meats.</p>
                            
                        </div>
                    </div>
                    <div class="card text-center category" name='Produce'>
                        <img class="card-img-top" src="/assets/images/marketpics/produce.jpg" alt="Produce market">
                        <div class="card-body">
                            <h5 class="card-title">Produire</h5>
                            <p class="card-text">From our farms to your table.</p>
                            
                        </div>
                    </div>
                    <div class="card text-center category" name='Wine'>
                        <img class="card-img-top" src="/assets/images/marketpics/wine.jpg" alt="Wine shop">
                        <div class="card-body">
                            <h5 class="card-title">Du Vin</h5>
                            <p class="card-text">Fine wines from all over the world!</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<div class="results">
    
</div>


    <script type="text/javascript" src="/assets/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        var currentCustomer = JSON.parse(localStorage.getItem('newuser'))
        currentName = currentCustomer.results.Whole_name.split(' ');
        firstName = currentName[0];
        console.log(currentName);

        $(".greeting").append(firstName);
    </script>
    
        <script>
        $('.contact_us').click(function(){
        window.location.href='/contact'});
        </script> 

</body>

</html>