<<<<<<< HEAD
/* BODY STYLE */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

<<<<<<< HEAD
=======

body {
    background-image: url(/assets/images/frenchyside.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:60% 40%;
}

>>>>>>> e3266f8e68bb5d40a5c2008197e3dee9cbf99c62
.message {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Yesteryear', cursive;
    line-height: 60px;
    color: rgb(255, 253, 253);
    -webkit-text-stroke: .3px black;
=======
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

>>>>>>> 767c659068ebb7aafd8c30b6d3b7910197e047f2

<<<<<<< HEAD
body {
  background-image: url(/assets/images/frenchyside.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position:60% 40%;
}
.message {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Yesteryear', cursive;
  line-height: 60px;
  color: rgb(255, 253, 253);
  -webkit-text-stroke: .3px black;
=======
/* BODY STYLE */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
>>>>>>> e3266f8e68bb5d40a5c2008197e3dee9cbf99c62
}
<<<<<<< HEAD



.nav-item {
    text-align: center;
    font-size: xx-large;
    font-family: 'Yesteryear', cursive !important;
    line-height: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px 8px;
}

<<<<<<< HEAD
=======
.nav-item {
=======

html {
  font-size: 62.5%;
  box-sizing: border-box;
}


body {
  background-image: url(/assets/images/frenchyside.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position:60% 40%;
}
.message {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Yesteryear', cursive;
  line-height: 60px;
  color: rgb(255, 253, 253);
  -webkit-text-stroke: .3px black;
}
/* .nav-item {
>>>>>>> e3266f8e68bb5d40a5c2008197e3dee9cbf99c62
  text-align: center;
  font-size: xx-large;
  font-family: 'Yesteryear', cursive !important;
  line-height: 40px;
  color: rgb(0, 0, 0);
<<<<<<< HEAD
}
>>>>>>> 767c659068ebb7aafd8c30b6d3b7910197e047f2
=======
} */

>>>>>>> e3266f8e68bb5d40a5c2008197e3dee9cbf99c62
.card-body {
  background-image: url(/assets/images/barnwood.jpg) !important;
}
.home {
  background-image: url(/assets/images/barnwood.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:60% 40%;
}
.card-text {
  font-family: 'Yesteryear', cursive;
  font-size: 35px;
  color: rgb(255, 253, 253);
  -webkit-text-stroke: .3px black;
}
.card-title {
  font-family: 'Niconne', cursive;
  font-size: 45px;
  color: rgb(234, 202, 139);
}
.card-img-top {
  width: 100%;
  height:150px;
  border-bottom: groove goldenrod;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card {
  border-radius: 15px;
  border: groove goldenrod;
}
.bakery {
  min-width: 200px;
  margin: 15px;
}
.card:hover{
  transition: .2s;
  transform: scale(1.05);
}
.header {
  text-align: center;
  font-size: 100px;
  font-family: 'Yesteryear', cursive;
}
.francais {
  text-align: center;
  font-size: 100px;
  font-family: 'Yesteryear', cursive;
}
.greeting {
  text-align: center;
  font-size: 70px;
  font-family: 'Yesteryear', cursive;
}
.addToCart {
  background-color: rgb(245, 208, 113);
}
.marketplace {
  margin-left: 50%;
  margin-right: 50%;
}
.register {
  color: black !important;
}
.footer {
  font-size: 30px;
  font-family: 'Yesteryear', cursive;
  color: black;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  margin-top: 25px;
}
.title {
  font-size: 85px;
}

#money {
  font-size: 50px;
}







/* .container {
  width: 60rem;
  margin: 0 auto;
} */
