
/* BODY STYLE */

html{
  scroll-behavior: smooth;
}

body {
    background-image: url(/assets/images/frenchyside.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:60% 40%;
    border: none !important;
    overflow-x: hidden;
}

.message {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Bodoni Moda', serif;
    
    line-height: 50px;
    color:white;
}

.nav-link {
  text-align: center;
  font-size: 20px;
  font-family: 'Bodoni Moda', serif;
  color: rgb(0, 0, 0);
  margin: 10px 10px;
}

.navs{
  transition: 0.3s ease;
  text-decoration: none;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.navs:hover{
  border-top: 4px solid rgb(245, 208, 113);
  border-bottom: 4px solid rgb(245, 208, 113);
  transition: 0.3s ease;
}

a:hover {   
  color: rgb(0, 0, 0) !important;
}

.card-body {
  background-image: url(/assets/images/barnwood.jpg) !important;
}

.home {
  background-image: url(/assets/images/barnwood.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:60% 40%;
}
.card-text {
  font-family: 'Bodoni Moda', serif;
  font-size: 24px;
  color: rgb(255, 253, 253);
}
.card-title {
  font-family: 'Bodoni Moda', serif;
  font-size: 30px;
  color: rgb(234, 202, 139);
}
.card-img-top {
  width: 100%;
  height:150px;
  border-bottom: groove goldenrod;
  border-radius: 0;
}
.card {
  border: groove goldenrod;
}

.bakery {
  min-width: 200px;
  margin: 15px;
}

.header {
  text-align: center;
  font-size: 40px;
  font-family: 'Bodoni Moda', serif;
}
.francais {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Bodoni Moda', serif;
}
.greeting {
  text-align: center;
  font-size: 40px;
  font-family: 'Bodoni Moda', serif;
}
.addToCart {
  background-color: rgb(245, 208, 113);
  text-align: center !important;
}
.addToCart:hover {
  color: rgb(245, 208, 113) !important;
  background-color: black;
}
.marketplace {
  font-size: 17px;
  font-family: 'Bodoni Moda', serif;
  background-color: rgb(245, 208, 113);
  position:absolute;
    right: 38%;
    bottom: 30%;
}
.marketplace:hover{
  background-color: black;
  color: rgb(245, 208, 113)
}
.register {
  color: black !important;
  margin:auto;
  background-color: transparent;
}
.category:hover{
  transform: translate3D(0,-1px,0) scale(1.03);
  transition: .2s;
}

.footer {
  font-size: 30px;
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  color: black;
  

}
.title {
  font-size: 85px;
}

#money {
  font-size: 40px;
}

.delete {
  background-color: rgb(245, 208, 113)
}

.form-control .form-group{
width: 90%;
text-align: center;
}


.navbar-toggler {
  margin-top: 0px;
  border-radius: 0;
  height: 30px;
  width: 30px;
  padding: 2px;
  outline: none !important;
  box-shadow: none;
}

.navbar-toggler:active .plus {
  transform: rotate(45deg); 
  -webkit-transform: rotate(45deg); 
  -ms-transform: rotate(45deg);
  outline: none ;
  box-shadow: none;
  }

  .fa {
    font-style: normal !important;
    background-color: rgb(245, 208, 113);
    float: right;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    color: black;
    font-size: 55px;
    border-radius: 0;
    border: 2px black solid;
    padding: 0px 8px 0px 8px;
  }
  
  .fa:hover {
    background-color: black;
    color: rgb(245, 208, 113);
  }

  @media (min-width: 320px) {

h1{
  font-size: 15px;
  text-align: center;
}
  .message{
    font-size: 10px;
    width: 100%;
    line-height: 20px;
  }

  .marketplace{
    left: 36%;
  }

  .greeting{
    font-size: 25px;
  }
  .footer {
    font-size: 15px;
  }
  .fa{
    font-size: 35px;
    bottom: 50px;
    right: 20px;

  }
  }

  @media (min-width: 768px) {
    .card-deck{
      align-items: center;
    }
    .card-title{
      font-size: 13px;
    }
    .card-text{
      font-size: 10px;
    }
    .cardCategory{
      margin: 10px;;
    }
    .marketplace{
      left: 38%;
    }
}

@media (min-width: 800px) {
  .marketplace{
    left: 47%;
  }
  .card-title{
    font-size: 24px;
  }
  .card-text{
    font-size: 15px;
  }
  .message{
    font-size: 30px;
    line-height: 50px;
  }
  h1 {
    font-size: 30px;
  }
}




